{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended"
  ],
  "rules": {
    "no-console": 0,
    "max-len": "off",
    "require-jsdoc": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "dot-notation": ["warn", { "allowPattern": "^[a-z]+(_[a-z]+)+$" }]
  }
}
